.courses-container {
    width: 90%;
    margin: 0 auto;
}
.courseBanner{
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020202;
}
.courseBanner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
h3.courses-title {
    text-align: center;
    font-size: 32px;
    margin: 40px 0 40px 0;
    font-weight: 600;
    position: relative;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

/* h3.courses-title::after {
    content: "";
    width: 120%;
    height: 2px;
    border-bottom: 2px dotted #c91b2b;
    bottom: -15px;
    transition: .5s width ease;
    position: absolute;
    left: -10%;
    right: -10%;
    margin: 0 auto;
    animation-name: growIn;
    animation-duration: .45s;
    animation-fill-mode: both;
    animation-delay: .7s;
} */
.courses-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.courses-subtitle{
    font-size: 20px;
    font-weight: 500;
}
.courses-wrapper-inner{
    text-align: center;
}
.quote-link{
    font-style: italic;
    font-size: 15px;
    color : #c91b2b;
}
@media only screen and (max-width: 720px) {
    .courses-container {
        width: 90%;
    }
}

@media only screen and (min-width: 720px) and (max-width: 992px) {
    .courses-container {
        width: 90%;
    }
}

.infinite-scroll-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    padding: 3px !important;
}
.footercard {
    z-index: 1;
    position: absolute;
    height: 180px;
    width: 100%;
    bottom: 0;
}

.card {
    border-radius: 8px;
    height: 450px;
    width: 400px;   
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 50px -10px black;
    overflow: hidden;
}

.card-blur {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
    opacity: 0.6;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}



svg#curve {
    position: absolute;
    fill: white;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 450px;
}

.connections {
    height: 180px;
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
}

.connection {
    display: inline-block;
    padding: 5px;
    margin-right: 25px;
    transform: translateY(200px);
    
    transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
}

.card:hover .connection {
    transform: translateY(0px);
}

.info {
    padding-left: 20px;
    transform: translateY(250px);
    background: #fff;
    transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
}

.card:hover .info {
    transform: translateY(0px);
}

.name {
    font-weight: bolder;
    padding-top: 5px;
}

.job {
    margin-top: 10px;
}

.connection.facebook {
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    padding: 0px;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 20px;
}
.connection.facebook a {
    color: #fff;
}
.connection.twitter {
    transition-delay: 0.06s;
    height: auto;
    width: 90%;
    margin-left: 20px;
    padding: 0px;
    overflow: hidden;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.connection.behance {
    transition-delay: 0.12s;
}

.connection.facebook .icon {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.connection.twitter .icon {
    height: 18px;
    width: 18px;
    margin-top: 4px;
    margin-left: 4px;
    background-position: center;
    background-size: cover;
}

.connection.behance .icon {
    height: 18px;
    width: 18px;
    margin-top: 3px;
    margin-left: 4px;
    background-position: center;
    background-size: cover;
}


.card {
    background-image: url("https://www.backstagepass.co.in/zgast/studentWorks/2d/12.png")
}
