.elementor-226 .elementor-element.elementor-element-69087175 {
    padding: 140px 0px 138px 0px;
}
.elementor-element {
    --widgets-spacing: 20px 20px;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.qodef-content-grid-1300 section.qodef-elementor-content-grid>.elementor-container {
    width: 1300px;
    max-width: 1300px;
    margin: 0 auto;
}
.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.elementor-column.elementor-col-33, .elementor-column[data-col="33"] {
    width: 50%;
}
.elementor-226 .elementor-element.elementor-element-a57ffdb > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 20px 0px 0px;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: flex;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-element {
    --widgets-spacing: 20px 20px;
}
.elementor-widget-image {
    text-align: center;
}
.elementor-226 .elementor-element.elementor-element-2e42105d > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}
.elementor-element .elementor-widget-container {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
}
.elementor-widget-image img {
    vertical-align: middle;
    display: inline-block;
}
.elementor-226 .elementor-element.elementor-element-157a29a2 > .elementor-element-populated {
    margin: 0% 0% 0% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%;
    padding: 0% 0% 0% 4%;
}
.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-226 .elementor-element.elementor-element-735e132c > .elementor-widget-container {
    margin: -5px 0px 0px 0px;
    padding: 0% 0% 0% 0%;
}
.qodef-section-title .qodef-m-title {
    position: relative;
    margin: 0;
    padding-bottom: 20px;
}
.qodef-section-title .qodef-m-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 2px;
    right: 0px;
    background-color: currentColor;
    margin: 0 auto;
}
.welcome{
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #974478;
    width: 100%;
}
.Best{
    font-size: 31px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 500;
    color: #111;
    width: 100%;
    margin-top: 20px;
}
.para{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #666;
    width: 100%;
    line-height: 27px;
    text-align: justify;
}