section1 {
  padding-block: min(20vh, 2rem);
  width: calc(min(90.5rem, 90%));
  margin-inline: auto;
  color: #111;
}
 section1 h2 {
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-size: 32px;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}
 section1 h4 {
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  color: #444;
  margin-bottom: 30px;
}
section1 h3 {
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-size: 21px !important;
  text-align: left;
  margin-top: 10px;
  font-weight: 500;
  color: #444;
}
 section1 a {
  display: inline-block;
  text-decoration: none;
}
 section1 .container1 {
  margin-top: 0em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  width: 100%;
}
 section1 .container1 .card1:nth-child(1) .box1 .icon1 .iconBox1 {
  background: #f0a5a7;
}
 section1 .container1 .card1:nth-child(2) .box1 .icon1 .iconBox1 {
  background: #70b3b1;
}
 section1 .container1 .card1:nth-child(3) .box1 .icon1 .iconBox1 {
  background: #d05fa2;
}
 section1 .container1 .cardq ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}
 section1 .container1 .card1 ul li {
  text-transform: uppercase;
  background: #fff;
  color: #282828;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0.375rem 0.625rem;
  border-radius: 0.188rem;
}
 section1 .container1 .card1 ul .branding {
  color: #704a31;
}
 section1 .container1 .card1 ul .packaging {
  color: #1e3938;
}
 section1 .container1 .card1 ul .marketing {
  color: #4d1637;
}
 section1 .container1 .card .content1 {
  padding: 0.938rem 0.625rem;
}
 section1 .container1 .card .content h3 {
  text-transform: capitalize;
  font-size: clamp(1.5rem, 1.3909rem + 0.4364vw, 1.8rem);
}
 section1 .container1 .card .content1 p {
  margin: 0.625rem 0 1.25rem;
  color: #222;
  font-size: 15px;
  font-weight: 500;
}
 section1 .container1 .card-inner1 {
  position: relative;
  width: inherit;
  height: 18.75rem;
  background: #fff;
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  overflow: hidden;
}
 section1 .container1 .card-inner1 .box1 {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
}
 section1 .container1 .card-inner1 .box1 .imgBox1 {
  position: absolute;
  inset: 0;
}
 section1 .container1 .card-inner1 .box1 .imgBox1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 section1 .container1 .card-inner1 .box1 .icon1 {
  position: absolute;
  bottom: -0.375rem;
  right: -0.375rem;
  width: 6rem;
  height: 6rem;
  background: #fff;
  border-top-left-radius: 50%;
}
 section1 .container1 .card-inner1 .box1 .icon1:hover .iconBox1 {
  transform: scale(1.1);
}
 section1 .container1 .card-inner1 .box1 .icon1::before {
  position: absolute;
  content: "";
  bottom: 0.375rem;
  left: -1.25rem;
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}
 section1 .container1 .card-inner1 .box1 .icon1::after {
  position: absolute;
  content: "";
  top: -1.25rem;
  right: 0.375rem;
  background: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}
 section1 .container1 .card-inner1 .box1 .icon1 .iconBox1 {
  position: absolute;
  inset: 0.625rem;
  background: #282828;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
 section1 .container1 .card-inner1 .box1 .icon1 .iconBox1 span {
  color: #fff;
  font-size: 1.5rem;
}