.content-block {
    background-attachment: fixed;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-block9 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background: #fff;
  padding: 0rem 0;
}
.content-block9::before {
  position: absolute;
  content: '';
  content: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content-container {
    width: 80%;
    margin: 0 auto;
}
.mb60{
  margin-bottom: 4rem;
}
.mt60{
  margin-top: 4rem;
}
.section-title9 {
  text-align: center;
  margin: 0px 0px;
}

.section-title9 .title {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.4;
  word-break: break-word;
  color: #000;
  text-transform: uppercase;
  /* font-family: "Roboto"; */
  letter-spacing: 0px;
  text-shadow: 0 0 BLACK;
}











.embla__button--prevba {
  left: 10px;
  position: absolute;
}

.embla__button--nextba {
  right: -30px;
  position: absolute;
}

