.courses-container {
    width: 90%;
    margin: 0 auto;
}
.courseBanner{
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020202;
}
.courseBanner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
h3.courses-title {
    text-align: center;
    font-size: 32px;
    margin: 40px 0 40px 0;
    font-weight: 600;
    position: relative;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

/* h3.courses-title::after {
    content: "";
    width: 120%;
    height: 2px;
    border-bottom: 2px dotted #c91b2b;
    bottom: -15px;
    transition: .5s width ease;
    position: absolute;
    left: -10%;
    right: -10%;
    margin: 0 auto;
    animation-name: growIn;
    animation-duration: .45s;
    animation-fill-mode: both;
    animation-delay: .7s;
} */
.courses-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.courses-subtitle{
    font-size: 20px;
    font-weight: 500;
}
.courses-wrapper-inner{
    text-align: center;
}
.quote-link{
    font-style: italic;
    font-size: 15px;
    color : #c91b2b;
}
@media only screen and (max-width: 720px) {
    .courses-container {
        width: 90%;
    }
}

@media only screen and (min-width: 720px) and (max-width: 992px) {
    .courses-container {
        width: 90%;
    }
}

.infinite-scroll-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    padding: 3px !important;
}
.footercard {
    z-index: 1;
    position: absolute;
    height: 180px;
    width: 100%;
    bottom: 0;
}

.process {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin: 50px 0px;
  }
  .process__item {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    position: relative;
    padding: 15px 35px;
    transition: 0.4s ease-in-out;
  }
  .process__item:hover {
    background: #f2f2f2;
  }
  .process__item:hover .process__number {
    transform: translateY(0px);
    color: #FA9F42;
    -webkit-text-stroke: 1px #FA9F42;
  }
  .process__number {
    font-size: 45px;
    -webkit-text-stroke: 1px #747C92;
    display: block;
    color: transparent;
    font-family: "Roboto Condensed";
    font-weight: 700;
    transition: 0.4s ease-in-out;
    position: absolute;
    background: #fff;
    left: 25%;
    top: 22%;
    width: 50px;
  }
  .process__title {
    display: block;
    /* font-family: "Roboto Condensed"; */
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 19px;
    color: #FA9F42;
    text-transform: uppercase;
    margin-top: 50px;
    width: 100%;
    text-align: left;
}
.process__subtitle {
    display: block;
    /* font-family: "Josefin Slab"; */
    font-size: 16px;
    color: #000;
    margin-top: 10px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 500;
}
  
  @media (min-width: 768px) {
    .process {
      display: inline-block;
    }
    .process__item {
      width: 49%;
      display: inline-block;
      background: #f9f9f9;
      border: 1px solid #cdcdcd;
      margin-right: 10px;
      border-top-right-radius: 35px;
      border-top-left-radius: 35px;
    }
  }
  @media (min-width: 1200px) {
    .process {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .process__item {
      width: 100%;
    }
  
  }
.benfits{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.benfits li{
  display: flex;
  align-items: center;
  justify-content: center;
}
.benfitIcon{
  width: 80px;
  height: 80px;
  margin-right: 7px;
}
.benfitContent{
  background: #f1f1f1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
  color: #000;
  border-radius: 10px;
  width: 600px;
  font-size: 18px;
  font-weight: 500;
}
.adminissionPTag1{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
  
  h3.financial-title {
    text-align: center;
    font-size: 32px;
    margin: 40px 0 10px 0;
    font-weight: 600;
    position: relative;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}
.courseUpdates3 ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  width: 40%;
  margin-top: 40px;
  column-gap: 50px;
}
.courseUpdates3 ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #fff;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px #cdcdcd;
}
.courseUpdates3 ul li img {
  width: 80px;
  height: 80px;
  object-fit: scale-down;
  object-position: center;
  animation: updown 3s ease infinite;
}
.courseUpdates3 ul li p {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}
.courseUpdates3{
    display: flex;
    align-items: center;
    justify-content: center;
}

#infinity {
  position: absolute;
  width: 100px;
  height: 70px;
  box-sizing: content-box;
  top: -51px;
  left: -10px;
  background: #fff;
}
#infinity:before,
#infinity:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid #747C92;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}


#infinity1 {
  position: absolute;
  width: 100px;
  height: 70px;
  box-sizing: content-box;
  top: -51px;
  left: -10px;
  background: #fff;
}
#infinity1:before,
#infinity1:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid #747C92;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}


#infinity2 {
  position: absolute;
  width: 100px;
  height: 70px;
  box-sizing: content-box;
  top: -51px;
  left: -10px;
  background: #fff;
}
#infinity2:before,
#infinity2:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid #747C92;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}


#infinity3 {
  position: absolute;
  width: 100px;
  height: 70px;
  box-sizing: content-box;
  top: -51px;
  left: -10px;
  background: #fff;
}
#infinity3:before,
#infinity3:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid #747C92;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}
.askus{
  display: flex;
  align-items: center;
  justify-content: center;
}
.askus li{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0 10px #cdcdcd;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 20px;
}
.askus li img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.askus li p{
  font-weight: 500;
    font-size: 19px;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 0px;
}